// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main{
  margin: 30px;
}

.box1{
  margin-top: 10%;
}

.box2{
  margin-top: 0%;
}

.container{
    height: 5%;
}

.size{
  font-size: 5px;
}

.po{
  position:absolute;
  top: 15%;
}
